@font-face {
    font-family: 'UndertaleFont'; /* Replace with your desired font name */
    src: url('fonts/DeterminationMonoWebRegular-Z5oq.ttf') format('truetype'); /* Adjust the path and format */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'UndertaleFont', Arial, sans-serif; /* Use the custom font */
}

canvas {
    border: 1px solid #000;
    margin-top: 10px;
}

#imageGallery > * {
    border-style: solid;
    border-width: 2px;
    border-color: #000;
}

canvas {
    margin: 1%;
}

h1 {
    color: white;
}

label {
    color: white;
}

body {
    background-color: #281633;
}

/* From Uiverse.io by elijahgummer */ 
input {
    width: 200px;
    padding: 12px;
    border: 2px solid #3498db;
    border-radius: 8px;
    outline: none;
    font-size: 18px;
    transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;
    background-color: #1a1633;
    color: #ffffff;
    box-sizing: border-box;
  }
  
  input:focus {
    border-color: #2980b9;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.5);
    transform: scale(1.02);
  }
  
  /* Placeholder Styling */
  input::placeholder {
    color: #aaa;
    font-style: italic;
  }
  
  /* Hover Effect */
  input:hover {
    background-color: #f0f8ff;
  }
  
/* From Uiverse.io by SelfMadeSystem */ 
.container {
    width: 100%;
    height: 100%;
    background: linear-gradient(#000 1px, #0000 0),
      linear-gradient(90deg, #000, #0000, #000),
      linear-gradient(in oklch longer hue -2deg, #a00, #a00);
    background-size:
      100% 2px,
      100% 100%,
      100% 100%;
  }
  